@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration: none;
    overflow: hidden;


}
@font-face {
    font-family: 'futuraheavy';
    src: url('futura_heavy_regular-webfont.woff2') format('woff2'),
         url('futura_heavy_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.background{
    height: 100%;
 	width: 100%;
 	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(banner.jpg);
 	background-position: center;
 	background-size: cover;
     position: absolute;
     overflow: hidden;
}

.submit-btn{
    width:100px;
    padding:10px 20px;
    cursor: pointer;
    display:block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(to right, rgb(255, 255, 255),#DEF8FF);
   border:0;
    outline:none;
    border-radius:30px;
   position: relative;
   font-family:'source_sans_proregular',sans-serif;
}
.sidebar{
    position:fixed;
    left:-240px;
    width:240px;
    height: 100%;
	background-color: rgba(94, 175, 223, 0.562); 
    transition:all .5s ease;
    z-index: 1;
    pointer-events: none;
}
.sidebar header{
    color:white;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    background-color: rgba(94, 176, 223, 0.822); 

    font-family:'source_sans_proregular', Helvetica;

}
.sidebar i{
    align-content: center;
}


.sidebar-buttons{
    vertical-align: middle;
    display: block;
    color: white;
    height: 50px;
    position: relative;
    pointer-events: all;
    line-height: 50px;
    width: 100%;
    padding-left: 30px;
    border-bottom:2px solid rgba(153, 213, 253, 0.178);
    background-color: solid transparent rgba(34, 107, 243, 0.651);
    border-left: 5px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-family:'source_sans_proregular',sans-serif;
    
}
.input-field{
    padding:10px 20px;
    width:300px;
    margin-top:30px;
    border-radius:30px;
    border:none;
    outline: none;
    background:white;
    font-family:'source_sans_proregular',sans-serif;
   
}
.input-field-en{
    padding:10px 20px;
    width:200px;
    margin-top:30px;
    border-radius:30px;
    border:none;
    outline: none;
    background:white;
    font-family:'source_sans_proregular',sans-serif;
}
.material-icons{
    position: relative;
    padding-right: 10px;
    vertical-align: middle;
    padding-bottom: 0px;
}

.input-forms{
    position: absolute;
    width: 100%;
    height: 100%;    
    top:150%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    z-index: 0;
    
}
.input{
    text-align: center; 
    width: 500px;
    height: 500px;
    left:60%;
    position: fixed;
    background: rgba(94, 176, 223, 0.527);
    border-radius: 30px;
    display:inline-block;
    margin:auto;  
    visibility: hidden;
    opacity: 0;
    transition:all .5s ease;
}
#ref-type-form{
    text-align: center; 
    width: 300px;
    height: 400px;
    position: fixed;
    left:40%;
    background: rgba(94, 176, 223, 0.527);
    border-radius: 30px;
    transition:all .5s ease;
    display:inline-block;
}
#ref-web-form{
    height: 450px;

}
#ref-book-form{
    
    text-align: center; 
    width: 500px;
    height: 500px;
    left:60%;
    position: fixed;
    background: rgba(94, 176, 223, 0.527);
    border-radius: 30px;
    display:inline-block;
    margin:auto;  
    visibility: hidden;
    opacity: 0;
    transition:all .5s ease;
    
}
#ref-en-form{
    width: 550px;
    height: 400px;
    padding: 12px 20px;
    margin: 8px 0;

}



.type-btn{
    padding:10px 20px;
    width:200px;
    margin-top:30px;
    border-radius:30px;
    border:none;
    outline: none;
    background:white;
    cursor: pointer;
    font-family:'source_sans_proregular',sans-serif;
    

}
#revista-btn{
    margin-top:40px;
    cursor:pointer;

}
.plus-div{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: transparent;
    z-index: 0;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    pointer-events: none;
  
}
.plus-btn{
    outline: none;
    top:42%;
    position: relative;
    pointer-events: all;
    background-color: transparent;
    border:transparent;
    color:rgba(94, 175, 223, 0.562);
    cursor: pointer;
    transition:all .5 ease;
    
}
#btn{
    padding-right: 0;
}
#cancel{
    padding-right: 0;
}
.plus-btn:hover{
    color:rgba(94, 176, 223, 0.822);
}

.sidebar-buttons span{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;

}
.sidebar-buttons:hover,.sidebar-buttons.active{
    border-left: 5px solid white;
    background: rgba(94, 176, 223, 0.822); 

}
#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
	background-color: rgba(94, 175, 223, 0.562); 
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    color: white;
    font-size: 29px;
    border-radius: 5px;
    margin:15px 15px;
    transition:all .5s ease;
    
}

label #cancel{
    opacity:0;
    visibility: hidden;
}
#check:checked~label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}
#check:checked~label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}
#check:checked ~.sidebar{
    left:0;
}